*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-align: center; */
}

#convert_rate{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#convert-ratee{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
 


select{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
#xchange{
    background-color: red;
    width: 100%;
    color: white;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
}
#container{
    margin-bottom: 30px;
    /* margin: 0 auto; */
    width: 100%;
    background-color: darkblue;
}
h1{
    margin-bottom: 20px;
}
marquee{
    scroll-behavior: smooth;
    font-size: 15px;
    padding: 5px;
    direction: ltr;
    
}
h4{
    margin: 10px auto;

    color: white;
    background: blue;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
h2{
    text-decoration: underline black;
    
    /* width: 30%; */
    /* background: blue; */
    margin-bottom: 10px;
    word-spacing: 5px;
}